@model bootcoin.Models.Register.ViewModel;

@{
    ViewBag.Title = "Bootcoin - Sign Up";
    Layout = "~/Views/Shared/HomePortal.cshtml";
}

@section Styles{
<link rel="stylesheet" href="~/css/AuthSection.css">
}

@section Scripts{
@if (ViewBag.Error != null)
{
    <script>alert("@ViewBag.Error");</script>
}
}



<div class="frame">
    <div class="header">
        <h1 class="title">Hello, Welcome to Bootcoin!</h1>
        <span class="intro">To join the community, please register yourself by completing fields below...</span>
    </div>

    <form class="form" method="post" action="Index">
        <div class="data">
            <div class="entry">
                <img class="mark" src="~/icons/ui-type.png" alt="type">
                <input required type="text" name="name" placeholder="Your name" asp-for="Name">
            </div>
            <div class="entry">
                <img class="mark" src="~/icons/ui-mail.png" alt="mail">
                <input required type="email" name="email" placeholder="Email address" asp-for="Email">
            </div>
            <div class="entry">
                <img class="mark" src="~/icons/ui-padlock.png" alt="padlock">
                <input required type="password" name="password" placeholder="Password" asp-for="Password">
                <img class="feature" src="~/icons/hide-show-eye.png" alt="eye">
            </div>
        </div>
        <div class="trigger">
            <input class="submit" type="submit" value="Join now">
            <span class="redirect">Already have an account? <a href="/Login/">Log in here</a></span>
        </div>
    </form>
</div>