@{
    ViewBag.Title = "Bootcoin - Sign Up";
    Layout = "~/Views/Shared/HomePortal.cshtml";
}

@section Styles{
<link rel="stylesheet" href="~/Content/Css/AuthSection.css">
}

<div class="frame">
    <div class="header">
        <h1 class="title">Hello, Welcome to Bootcoin!</h1>
        <span class="intro">To join the community, please register yourself by completing fields below...</span>
    </div>

    <form class="form" action="">
        <div class="data">
            <div class="entry">
                <img class="mark" src="~/Content/Icons/ui-mail.png" alt="mail">
                <input type="email" name="email" placeholder="Email address">
            </div>
            <div class="entry">
                <img class="mark" src="~/Content/Icons/ui-padlock.png" alt="padlock">
                <input type="password" name="password" placeholder="Password">
                <img class="feature" src="~/Content/Icons/hide-show-eye.png" alt="eye">
            </div>
            <div class="entry">
                <img class="mark" src="~/Content/Icons/ui-padlock.png" alt="padlock">
                <input type="password" name="confirm-password" placeholder="Confirm password">
                <img class="feature" src="~/Content/Icons/hide-show-eye.png" alt="eye">
            </div>
        </div>
        <div class="trigger">
            <input class="submit" type="submit" value="Join now">
            <span class="redirect">Already have an account? <a href="/Login/">Log in here</a></span>
        </div>

    </form>
</div>