
@model bootcoin.Models.Domain.User
@{
    ViewData["Title"] = "Index";
    ViewBag.Title = "Bootcoin - Sign Up";
    Layout = "~/Views/Shared/HomePortal.cshtml";
}

@section Styles{
<link rel="stylesheet" href="~/css/AuthSection.css">
}
@section Scripts{
    <script>
     var password = document.getElementById("password")
      , confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
      if(confirm_password.value!='' && password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

    var pwShown = 0;
    function showPassword(id){
            if (pwShown == 0) {
                pwShown = 1;
                document.getElementById(id).type = 'text';
            } else {
                pwShown = 0;
                document.getElementById(id).type = 'password';
            }
    }
   

    </script>
    
     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div class="frame">
    <div class="header">
        <h1 class="title">Hello, Welcome to Bootcoin!</h1>
        <span class="intro">To join the community, please register yourself by completing fields below...</span>
    </div>

    <form class="form" asp-action="Index">
        <div class="data">
            <div class="entry">
                <img class="mark" src="~/icons/ui-mail.png" alt="mail">
                <input type="email" name="email" placeholder="Email address" required>
            </div>
            <div class="entry">
                <img class="mark" src="~/icons/ui-padlock.png" alt="padlock">
                <input type="password" name="password" placeholder="Password" id="password" required>
                <img class="feature" src="~/icons/hide-show-eye.png" alt="eye" onclick="showPassword('password')">
            </div>
            <div class="entry">
                <img class="mark" src="~/icons/ui-padlock.png" alt="padlock">
                <input type="password" name="confirm-password" placeholder="Confirm password" id="confirm_password" required>
                <img class="feature" src="~/icons/hide-show-eye.png" alt="eye" onclick="showPassword('confirm_password')">
            </div>
        </div>
        <div class="trigger">

            @if (TempData["AlertMessage"] == "User Already Exist!")
            {
                <div style="color:red">
                    <strong>@TempData["AlertMessage"]</strong>
                </div>
            }
            else if (TempData["AlertMessage"] == "Registration successful, please sign in")
            {
                <div style="color:green">
                    <strong>@TempData["AlertMessage"]</strong>
                </div>
            }

            <input class="submit" type="submit" value="Join now">
            <span class="redirect">Already have an account? <a href="/Login/">Log in here</a></span>
        </div>
    </form>
</div>







