body {
    display: grid;
    grid-template: "hero form" 100% / 1.1fr 1fr;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    scrollbar-width: none;
}

.top-down {
    display: flex;
    flex-direction: column;
}

.left-right {
    display: flex;
}

.hero {
    display: grid;
    grid-template:
        "brand" 230px
        "nothing" 1fr / 100%;
    grid-area: hero;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        90deg,
        var(--home-portal-hero-gradient-1),
        var(--home-portal-hero-gradient-2)
    );

    position: relative;
}

.hero .brand {
    grid-area: brand;
    color: var(--home-portal-hero-text);
    padding: 0 40px;
}

.hero .brand.left-right {
    align-items: center;
    gap: 15px;
}

.hero .brand > img {
    width: 91px;
    height: 91px;
}

.hero .brand .name {
    font-weight: 600;
    font-size: 48px;
}

.hero .brand .slogan {
    font-weight: 400;
    font-size: 20px;
}

.hero .nothing {
    grid-area: nothing;
    background-image: url("/Content/Images/bootcoin-vault.png");
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-position: 50% 50%;
}

.form-container {
    grid-area: form;
    height: 100%;
    width: 100%;
    overflow: auto;
}
