@model bootcoin.Models.Login.ViewModel

@{
    ViewBag.Title = "Bootcoin - Login";
    Layout = "~/Views/Shared/HomePortal.cshtml";
}

@section Styles{
<link rel="stylesheet" href="~/css/AuthSection.css">
}

@section Scripts {
    <script>
        let entries = document.querySelectorAll(".frame .form .data .entry");

        entries.forEach(entry => {
            let eye = entry.querySelector("img.feature[alt='eye']");

            if (eye){
                eye.addEventListener("click", (e) => {
                    let input = entry.querySelector("input");

                    if (input && input.type == "password"){
                        input.type = "text";
                    }
                    else if (input && input.type == "text"){
                        input.type = "password";
                    }
                });
            }
        });
    </script>

    @if (ViewBag.Error != null)
    {
        <script>alert("@ViewBag.Error");</script>
    }
}

<div class="frame">
    <div class="header">
        <h1 class="title">Hello, Welcome back to Bootcoin!</h1>
        <span class="intro">Before we get started, please sign in using your email address and password</span>
    </div>

    <form class="form" method="post">
        <div class="data">
            <div class="entry">
                <img class="mark" src="~/icons/ui-mail.png" alt="mail">
                <input required type="email" name="email" placeholder="Email address" asp-for="Email">
            </div>
            <div class="entry">
                <img class="mark" src="~/icons/ui-padlock.png" alt="padlock">
                <input required type="password" name="password" placeholder="Password" asp-for="Password">
                <img class="feature" src="~/icons/hide-show-eye.png" alt="eye">
            </div>
        </div>
        <div class="trigger">
            <input class="submit" type="submit" value="Let's Go">
            <span class="redirect">Don't have an account? <a href="/Register/">Register here</a></span>
        </div>

    </form>
</div>
