@{
    ViewBag.Title = "Bootcoin - Login";
    Layout = "~/Views/Shared/HomePortal.cshtml";
}

@section Styles{
<link rel="stylesheet" href="~/css/AuthSection.css">
}

<div class="frame">
    <div class="header">
        <h1 class="title">Hello, Welcome back to Bootcoin!</h1>
        <span class="intro">Before we get started, please sign in using your email address and password</span>
    </div>

    <form class="form" action="">
        <div class="data">
            <div class="entry">
                <img class="mark" src="~/icons/ui-mail.png" alt="mail">
                <input type="email" name="email" placeholder="Email address">
            </div>
            <div class="entry">
                <img class="mark" src="~/icons/ui-padlock.png" alt="padlock">
                <input type="password" name="password" placeholder="Password">
                <img class="feature" src="~/icons/hide-show-eye.png" alt="eye">
            </div>
        </div>
        <div class="trigger">
            <input class="submit" type="submit" value="Let's Go">
            <span class="redirect">Don't have an account? <a href="/Register/">Register here</a></span>
        </div>

    </form>
</div>
