@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
<link rel="stylesheet" type="text/css" href="~/css/HomePortal.css">
@RenderSection("Styles", false)
}
@section Scripts{
       <script></script>
    @RenderSection("scripts", required: false)
    
}

<div class="hero">
    <div class="brand left-right">
        <img src="~/icons/site-logo.png" alt="logo">
        <div class="top-down">
            <span class="name">Bootcoin</span>
            <span class="slogan">Collect bootcoin and get exclusive perks!</span>
        </div>
    </div>
    <div class="nothing"></div>
</div>

<div class="form-container">
    @RenderBody()
</div>