@{
    Layout = "~/Views/Shared/CommonFrame.cshtml";

    ViewBag.Title = "Admin - Redeem";
    ViewBag.Active = "redeem";
}

@section Styles{
    <link rel="stylesheet" href="~/css/Redeem.css" />
}

<span style="position: relative; margin: auto; font-size: 5rem;">Coming Soon!</span>