body {
    display: grid;
    grid-template:
        "site-logo nav-top" 103px
        "nav-left content" 1fr / 266px 1fr;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.grid-item {
    box-shadow: 2px 0 4px var(--grid-shadow-horizontal),
        0 2px 4px var(--grid-shadow-vertical);
}

.site-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    grid-area: site-logo;
    height: 100%;
    width: 100%;
}

.site-logo > img {
    width: 45px;
    height: 45px;
}

.site-logo > span {
    font-weight: 600;
    font-size: 28px;
    text-shadow: 2px 2px 4px var(--logo-text-shadow);
}

.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: nav-top;
    padding: 0 50px;
    position: relative;
}

.nav-top .nav-feature .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--search-background);
    border: 1px solid var(--search-border);
    height: 55px;
    width: 410px;
    border-radius: 30px;
    padding: 0 30px;
    gap: 20px;
}
.nav-top .nav-feature .search input {
    flex: 1;
    height: 27px;
    background-color: transparent;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
}
.nav-top .nav-feature .search > img {
    width: 25px;
    height: 25px;
}
.nav-top .about-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nav-top .about-user .notification > img {
    width: 29px;
    height: 29px;
}
.nav-top .about-user .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.nav-top .about-user .profile .avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.nav-top .about-user .profile .comment {
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-transform: capitalize;
}
.nav-top .about-user .profile .chevron {
    width: 29px;
    height: 29px;
    transition: 0.2s transform ease-in-out;
}

.nav-top .overlay-blur{
    width: 100%;
    height: 100vh;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: var(--overlay-blur);
    z-index: 1;
    display: none;
}

.nav-top .overlay-blur.active{
    display: initial;
}

.nav-top .dropdown-menu {
    width: 312px;
    height: 140px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--nav-top-dropdown-menu);
    box-shadow: 0 2px 4px 0 var(--nav-top-dropdown-menu-shadow);
    z-index: 2;
    border-radius: 3px;
}

.nav-top .dropdown-menu.active{
    display: grid;
    grid-template:
        "avatar identity" auto
        "avatar edit" auto
        "feature feature" 25px / 80px 232px;
}

.nav-top .dropdown-menu > img{
    position: relative;
    margin: auto;
    grid-area: avatar;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.nav-top .dropdown-menu .identity{
    grid-area: identity;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2px;
}

.nav-top .dropdown-menu .identity .name{
    font-size: 16px;
    font-weight: 600;
    text-transform:capitalize;
}

.nav-top .dropdown-menu .identity .role{
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    text-transform: capitalize;
}

.nav-top .dropdown-menu .edit-trigger{
    grid-area: edit;
    margin-top: 2px;
    font-size: 12px;
    font-weight: 400;
    width: fit-content;
    height: fit-content;
}

.nav-top .dropdown-menu .edit-trigger > u{
    cursor: pointer;
}

.nav-top .dropdown-menu .edit-trigger:after {
    content: "🖉";
    margin-left: 5px;
}

.nav-top .dropdown-menu .feature{
    border-top: 1px solid var(--nav-top-dropdown-menu-border);
    grid-area: feature;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-top .dropdown-menu .feature > a {
    color: var(--nav-top-dropdown-menu-feature);
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    position: relative;
    margin: auto;
    
    text-align: center;
}

.nav-top .update-profile {
    display: none;
    background-color: var(--nav-top-dropdown-menu);
    box-shadow: 0 2px 4px 0 var(--nav-top-dropdown-menu-shadow);
    position: absolute;
    width: 312px;
    top: 100%;
    right: 0;
    z-index: 3;
    padding: 25px;
    flex-direction: column;
    gap: 25px;
    border-radius: 3px;
}

.nav-top .update-profile.active{
    display: flex;
}

.nav-top .update-profile .identity {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-top .update-profile .identity > img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.nav-top .update-profile .identity > span{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;

}

.nav-top .update-profile form{
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.nav-top .update-profile form .entry{
    display: flex;
    align-items: top;
}

.nav-top .update-profile form .entry > label{
    font-size: 14px;
    font-weight: 600;
    flex: 0.8;
    padding-top: 2px;
}

.nav-top .update-profile form .entry > label:after{
    content: ":";
    float: right;
    padding: 0 3px;
}

.nav-top .update-profile form .entry input {
    background-color: var(--nav-top-update-profile-entry-back);
    border: 1px solid var(--nav-top-update-profile-entry-border);
    color: var(--nav-top-update-profile-entry-text);
    font-size: 10px;
    font-weight: 300;
    flex: 1;
    padding: 7px 11px;
    border-radius: 6px;
    outline: none;
}

.nav-top .update-profile form .entry .list{
    flex: 1.18;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.nav-top .update-profile form .entry .list > input{
    width: 100%;
}

.nav-top .update-profile form .submit{
    width: 106px;
    height: 25px;
    border-radius: 4.8px;
    position: relative;
    background-color: var(--nav-top-update-profile-form-submit-back);
    color: var(--nav-top-update-profile-form-submit-text);
    font-size: 9.6px;
    font-weight: 600;
    border: none;
    outline: none;
    margin: 10px auto;
}

.nav-left {
    display: flex;
    justify-content: center;
    padding: 31px 0 0 0;
    height: 100%;
}

.nav-left .hierarchy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
    padding: 0 30px;
}

.nav-left .hierarchy .menu-0 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px;
}

.nav-left .hierarchy .menu-0.current {
    background-color: var(--nav-left-active);
}

.nav-left .hierarchy .menu-0 > svg {
    width: 31px;
    height: 31px;
    fill: var(--nav-left-base);
}
.nav-left .hierarchy .menu-0.current > svg {
    color: var(--nav-left-inverse);
    fill: var(--nav-left-inverse);
}

.nav-left .hierarchy .menu-0 > span {
    font-weight: 600;
    font-size: 16px;
    color: var(--nav-left-base);
}
.nav-left .hierarchy .menu-0.current > span {
    color: var(--nav-left-inverse);
    fill: var(--nav-left-inverse);
}

.content {
    grid-area: content;
    background-color: var(--content-background);
    padding: 50px 35px;
    overflow-y: scroll;
    scrollbar-width: 0;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.content::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.content::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}
