body {
    display: grid;
    grid-template:
        "site-logo nav-top" 103px
        "nav-left content" 1fr / 266px 1fr;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.grid-item {
    box-shadow: 2px 0 4px var(--grid-shadow-horizontal),
        0 2px 4px var(--grid-shadow-vertical);
}

.site-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    grid-area: site-logo;
    height: 100%;
    width: 100%;
}

.site-logo > img {
    width: 45px;
    height: 45px;
}

.site-logo > span {
    font-weight: 600;
    font-size: 28px;
    text-shadow: 2px 2px 4px var(--logo-text-shadow);
}

.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: nav-top;
    padding: 0 50px;
}

.nav-top .nav-feature .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--search-background);
    border: 1px solid var(--search-border);
    height: 55px;
    width: 410px;
    border-radius: 30px;
    padding: 0 30px;
    gap: 20px;
}
.nav-top .nav-feature .search input {
    flex: 1;
    height: 27px;
    background-color: transparent;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
}
.nav-top .nav-feature .search > img {
    width: 25px;
    height: 25px;
}
.nav-top .about-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nav-top .about-user .notification > img {
    width: 29px;
    height: 29px;
}
.nav-top .about-user .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.nav-top .about-user .profile .avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.nav-top .about-user .profile .comment {
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
}
.nav-top .about-user .profile .chevron {
    width: 29px;
    height: 29px;
}

.nav-left {
    display: flex;
    justify-content: center;
    padding: 31px 0 0 0;
    height: 100%;
}

.nav-left .hierarchy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
    padding: 0 30px;
}

.nav-left .hierarchy .menu-0 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px;
}

.nav-left .hierarchy .menu-0.current {
    background-color: var(--nav-left-active);
}

.nav-left .hierarchy .menu-0 > svg {
    width: 31px;
    height: 31px;
    fill: var(--nav-left-base);
}
.nav-left .hierarchy .menu-0.current > svg {
    color: var(--nav-left-inverse);
    fill: var(--nav-left-inverse);
}

.nav-left .hierarchy .menu-0 > span {
    font-weight: 600;
    font-size: 16px;
    color: var(--nav-left-base);
}
.nav-left .hierarchy .menu-0.current > span {
    color: var(--nav-left-inverse);
    fill: var(--nav-left-inverse);
}

.content {
    grid-area: content;
    background-color: var(--content-background);
    padding: 50px 35px;
    overflow-y: scroll;
    scrollbar-width: 0;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.content::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.content::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}
